html, body {
  height: 100%;
  width: 100%;
  color: white;
}

body{
  display: flex;
}

nav{
background-color: black;
}

main {
  width: 100%;
  background-color: rgb(18, 18, 18);
}

#spotify-logo {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

#playlists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.playlist {
  list-style-type: none;
}
